<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reading WAY</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/de3.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Oswald:wght@500&family=Ubuntu&display=swap" rel="stylesheet">
</head>


<body>

    <div id="title">
        <h1>WAY Reader</h1>
        <span id="smaller"><h2>:Convert PDF-to-Text</h2></span>
    </div>


    <div id="main">
        <br>
            <div id="f1">
                <form name="uploadForm" id="uploadForm" action="/uploadPDF" method="POST" enctype="multipart/form-data">
                    <div class="filebox">
                        <label for="file_upload">파일 선택</label>
                        <input class="upload-name" type="text" id="fname" placeholder="선택된 파일 없음" disabled>
                        <input type="file" name="file_upload" id="file_upload" accept=".pdf">
                        <input id="sub1" type="submit" value="파일 업로드">
                    </div>
                </form>
            </div>

            <div id="div1">
                <form name="showText" action="/text" method="POST" target="_blakn">
                    <!--<button id="textBtn" style="height:50px; width: 120px;"> text 추출 </button>-->
                    <input id="textBtn" style="height:50px; width: 120px;" type="submit" value="text 추출">
                </form>
            </div>

            <div id="f2">
                <form name="searchForm" action="/searchWord" method="POST">
                    <input type="search" name="searchStr" id="searchStr">
                    <input class="btn" type="submit" value="검색">
                </form>
            </div>

            <div id="btns">
                <button class="btn" id = "prevBtn" onclick = "prevAct();"> 이전 </button>
                <button class="btn" id = "nextBtn" onclick = "nextAct();"> 다음 </button>
            </div>


        <p id="p1"> </p>
        <p id="p2"> </p>
        <!--<iframe id="pdfFrame" src= {{file_name}} style="width:70vw; height:120vh"> </iframe>-->
        <iframe id="pdfFrame" src= ""> </iframe>
        <br>

    </div>
    <script>
        const file = document.getElementById("file_upload");

            file.addEventListener('change', function(event) {
                var fileName = file.files[0];
                document.getElementById("fname").value = fileName.name;
            });
        const frame = document.getElementById("pdfFrame");
        const p1 = document.getElementById("p1");
        const p2 = document.getElementById("p2");
        const fileName = {{file_name|tojson}};
        const basicSrc = fileName+"#page=";
        const pageList = {{page_list}};
        var len = pageList.length - 1;
        var index = 0;
        var page = "";

        if (len == -1) {
                page = fileName;
                len = 0;
                p1.textContent = '단어 \'' + {{se_str|tojson}} + '\'에 해당하는 내용이 없습니다.'
        }
        else {
                page = basicSrc + (pageList[index] + 1).toString();
                p1.textContent = '단어 \'' +{{se_str|tojson}} + '\': ' + pageList + '페이지에 있습니다.';
                p2.textContent = pageList[0].toString() + "페이지";
        }

        //status.textContent = page;
        pdfFrame.src = page;


        document.getElementById("prevBtn").addEventListener('click', function(event) {
            p2.textContent = (pageList[0]).toString() + "페이지가 첫 번째 검색 결과입니다.";
            if (index == 0) {}
            else {
                var page = (pageList[--index]+1).toString();
                pdfFrame.src = basicSrc + page;
                p2.textContent = page + "페이지";
            }
        });
        
        document.getElementById("nextBtn").addEventListener('click', function(event) {
            p2.textContent = (pageList[len]).toString() + "페이지가 마지막 검색 결과입니다.";
            if (index == len) {}
            else {
                var page = (pageList[++index]).toString();
                pdfFrame.src = basicSrc + page;
                p2.textContent = page + "페이지";
            }
        });

    </script>

</body>
</html>
